<div class="form-horizontal" ng-init="value = (value.rangeLow || value.rangeHigh) ? value : {}">
    <div class="form-group">
        <label class="col-xs-4">From</label>
        <div class="col-xs-8">
            <div class="input-group">
                <input type="text" wh-date-picker class="form-control" ng-model="value.rangeLow">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-4">To</label>
        <div class="col-xs-8">
            <div class="input-group">
                <input type="text" wh-date-picker class="form-control" ng-model="value.rangeHigh">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
        </div>
    </div>
</div>
