<div class="btn-group">
  <button type="button" class="btn btn-default">Action</button>
  <button type="button" class="btn btn-default dropdown-toggle" ng-click="toggle()">
    <span class="caret"></span>
  </button>
</div>
<div ng-show="expanded">
  <div ng-transclude></div>
</div>



<!--
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" ng-click="toggle()">
    Action <span class="caret "></span>
  </button>
  <div ng-show="expanded">
	<div ng-transclude></div>
  </div>
</div>





<button class="btn btn-default" ng-click="toggle()">
	<span ng-if="!expanded" class="fa fa-caret-down pull-right"></span>
	<span ng-if="expanded" class="fa fa-caret-up pull-right"></span>
	<span ng-if="!html">{{text}}</span>
	<span ng-html="html" ng-bind-html="html"></span>
</button>
<div ng-show="expanded">
	<div ng-transclude></div>
</div>
-->