<div class="wh-select-dropdown wh-single-select">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <b class="caret pull-right"></b>
            <span ng-if="selected == null">&lt;NONE&gt;</span>
            <span ng-if="selected != null">{{ selected.ItemDesc }}</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="option in allOptions | orderBy: item.ItemDesc" ng-click="$parent.selected = option.selected ? null : option.item" ng-class="{ selected: option.selected }">
                <label>{{option.item.ItemDesc}}</label>
                <span ng-if="option.selected" class="checked glyphicon glyphicon-ok"></span>
            </li>
        </ul>
    </div>
</div>
