<div class="row" ng-controller="gridSidebarController as c">
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default"
                    ng-repeat="config in c.configs"
                    ng-class="{ 'btn-primary': c.currentConfiguration == config }"
                    ng-click="c.currentConfiguration = config">{{config.name}}</button>
        </div>
    </div>
    <div class="col-md-12">
        <div wh-grid=""
             multiselect="true"
             popover-template-url="'pages/examples/03 Components/01 Grids/GridPopoverTemplate.html'"
             class="uxr-grid-container"
             configuration="c.currentConfiguration"
             selected="c.selected"
             style="height: 300px"></div>
    </div>
    <div class="col-md-12">
        <pre>Has selected: {{ !!c.selected }}</pre>
        <pre># of items selected: {{ (c.selected || []).length }}</pre>
    </div>
</div>
