<ul class="main-nav">
    <li class="hidden-xs"><a href="javascript:void(0);" ng-click="toggleSideNav()"><i class="fa fa-bars"></i><span>Hide</span></a></li>
    <li><a href="#"><i class="icon-user"></i><span>My Profile</span></a></li>
    <li><a href ng-click="toggleStructurePicker()"><i class="fa fa fa-sitemap fa-lg"></i><span>Division Selector</span></a></li>
    <li><a><i class="icon-bell"></i><span class="notification">Notification</span><span class="badge">9+</span></a></li>
    <!--
    <li><a href="#"><i class="fa fa-star-o"></i><span>Favorites</span></a></li>
    -->
    <li><a ng-click="forceSelectFleetCode4SideNav()" class="user-acess"><i class="fa fa-key fa-lg"></i><span>User Access Manager</span></a></li>
</ul>
<ul class="secondary-nav">
    <!--
    <li><a href="#"><i class="icon-light"></i><span>Sample One</span></a></li>
    <li><a href="#"><i class="icon-success"></i><span>Sample Two</span></a></li>
    <li><a href="#"><i class="icon-pencil"></i><span>Sample Three</span></a></li>
    <li><a href="#"><i class="icon-graph"></i><span>Sample Four</span></a></li>
    -->
</ul>
