<div class="row" ng-controller="gridSidebarSpecialController as c">
    <p>Click a value in the 'First' column to see a popup with the lastname</p>
    <p>Filter by 'elo' to get few enough rows for the auto-height to kick in</p>
    <div class="col-md-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default"
                    ng-repeat="config in c.configs"
                    ng-class="{ 'btn-primary': c.currentConfiguration == config }"
                    ng-click="c.currentConfiguration = config">{{config.name}}</button>
        </div>
    </div>
    <form class="form-horizontal" role="form">
        <div class="form-group" ng-if="c.currentConfiguration.filters.freeText">
            <label for="freeTextFilter" class="col-sm-2 control-label">Free text filter</label>
            <div class="col-sm-10">
                <input id="freeTextFilter"
                       class="form-control"
                       type="text"
                       ng-model="c.freeTextFilter.value"
                       wh-design-debounce="100"/>
            </div>
        </div>
    </form>
    <div>
        <div class="col-md-9">
            <div wh-grid=""
                 on-click="c.click(event, data)"
                 configuration="c.currentConfiguration"
                 auto-height="true"
                 selected="c.selected"
                 displayed="c.displayed"
                 style="height: 300px"></div>
        </div>
        <div class="col-md-3">
            <div ng-if="c.displayed" style="height: 300px; overflow: scroll">
                <h4>{{ c.displayed.title }}</h4>
                <p>Value: {{ c.displayed.value }}</p>
                <p>Color: {{ c.displayed.color }}</p>
                <pre>{{ c.displayed | json }}</pre>
            </div>
        </div>
        <div class="col-md-12">
            <pre>Has selected: {{ !!c.selected }}</pre>
            <pre>ID of selected: {{ (c.selected || {}).Id }}</pre>
        </div>
    </div>
</div>
